@import "./vars";
@import "./loader";


#instant-support {
    position: fixed;
    z-index: 999;
    margin: 50px;
    display: none;
    min-width: 220px;
    animation: instant-support-slide-in-y 1s cubic-bezier(0.42, 0.21, 0.01, 0.8);
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    
    &[data-position=top_right] {
        right: 0;
        top: 0;
    }
    
    &[data-position=bottom_right] {
        right: 0;
        bottom: 0;
    }

    &[data-position=top_left] {
        left: 0;
        top: 0;
    }

    &[data-position=bottom_left] {
        left: 0;
        bottom: 0;
    }

    .it-loader {
        @include loader($size: 5px, $gap: 3px, $duration: 0.5s);
    }

    .it-button {
        font-size: 15px;
        background: var(--instant-support-btn-bg);
        color: var(--instant-support-btn-text);
        border-radius: 5px;
        overflow: hidden;
        cursor: pointer;
        float: right;
        height: 42px;
        line-height: 42px;

        i {
            background: rgba(255,255,255,0.15);
            float: right;
            height: inherit;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 48px;
            overflow: hidden;

            .it-close {
                display: none;
            }

            svg {
                width: 20px;
                fill: currentColor;
                animation: instant-support-slide-in-x 1s cubic-bezier(0.53, 0.17, 0, 0.99);
            }
        }

        
        span {
            line-height: inherit;
            padding: 0px 20px;
            float: right;
        }

        &[data-size=small] {
            font-size: 14px;
            height: 40px;
            line-height: 40px;

            i {
                width: 48px;

                svg {
                    width: 18px;
                }
            }
        }

        &[data-size=large] {
            font-size: 15px;
            height: 45px;
            line-height: 45px;

            i {
                width: 50px;

                svg {
                    width: 24px;
                }
            }
        }    
    }

    .it-prompts {
        position: absolute;
        bottom: 75px;
        right: 0;
        padding: 12px 18px;
        font-size: 14px;
        line-height: 20px;
        background: #fff;
        min-width: 65px;
        min-height: 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #555;
        border-radius: 5px;
        box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
        opacity: 0;

        .it-loader {
            color: #c0c3c5;
        }
    }

    .it-menu-items {
        box-shadow: 0px 0px 30px rgba(0,0,0,0.15);
        padding: 10px 0px;
        width: 300px;
        background: #fff;
        position: absolute;
        bottom: 75px;
        right: 0;
        border-radius: 5px;
        margin: 0;
        list-style: none;
        display: none;
        animation: instant-support-slide-out-x 0.5s cubic-bezier(0.35, 0.32, 0.1, 0.8);
        
        &::before {
            right: 12px !important;
        }

        li {
            float: left;
            width: 100%;
            margin: 0;
            padding: 8px 16px;
            cursor: pointer;
            
            &:hover {
                background: #f1f1f1;
            }

            i {
                width: 42px;
                height: 42px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #0084FF;
                color: #fff;
                border-radius: 50px;
                float: left;
                margin-right: 14px;
                
                svg {
                    width: 24px;
                    fill: currentColor;
                }
            }

            h4 {
                float: left;
                margin: 0px;
                padding: 0px;
                width: calc(100% - 60px);
                font-size: 14px;
                font-weight: 400;
                margin-top: 2px;
                margin-bottom: 2px;
                letter-spacing: .1px;
            }

            span {
                width: calc(100% - 60px);
                font-size: 13px;
                float: left;
                color: #888;
                font-weight: normal;
            }
        }
    }

    .it-menu-items::before, .it-prompts::before {
        content: "";
        position: absolute;
        bottom: -6px;
        right: 20px;
        left: auto;
        border-right: 10px solid transparent;
        border-top: 10px solid #FFFFFF;
        border-left: 10px solid transparent;
        border-bottom: 0px solid transparent;
    }

    // Events
    &.it-menu-open {
        .it-menu-items {
            animation: instant-support-slide-in-x .5s cubic-bezier(0.35, 0.32, 0.1, 0.8);
            display: block;
        }

        .it-prompts {
            display: none !important;
        }

        .it-button {
            .it-close {
                display: block;
            }

            .it-icon {
                display: none;
            }
        }
    }
}



@keyframes instant-support-slide-in-out-x {
    33%   {
        transform: translateX(40px);
        opacity: 0;
    }
    
    66%   {
        transform: translateX(-40px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes instant-support-slide-in-y {
    from   {
        transform: translateY(40px);
        opacity: 0;
    }

    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes instant-support-slide-out-y {
    from   {
        transform: translateY(0px);
        opacity: 1;
    }

    to {
        transform: translateY(-40px);
        opacity: 0;
    }
}

@keyframes instant-support-slide-in-x {
    from   {
        transform: translateX(40px);
        opacity: 0;
    }

    to {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes instant-support-slide-out-x {
    from   {
        transform: translateX(0px);
        opacity: 1;
    }

    to {
        transform: translateX(-40px);
        opacity: 0;
    }
}